<h2>Voice Ur Opinion</h2>
<%= form_for @vote, :url => { :action => "create" } do |f|%>
  <h4> Your name </h4>
  <div>
    <%= f.collection_select(:id, @candidates, :id, :name) %>
  </div>
  <h4> curator of the day </h4>
  <div>
    <%= f.collection_select(:voter_id, @candidates, :id, :name) %>
  </div>
<div>
  <%= f.label :comment %>
</div>
<div>
  <%= f.text_area :comment, :rows => 5 %>
</div>
<%= f.submit "Vote" %>
<% end %>
